ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6783bf;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

ul li a:hover {
  background-color: #3e5482;
}

*{
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
body{
  background-color:lightgoldenrodyellow;
}
h1 {
  text-align:center;
  background-color:#6783bf;
  color: white;
}

img {
  display: block;
  margin: auto;
}
iframe{
  margin:auto;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.images img {
  width:30%;
  height:30%;
    object-fit: cover;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.images img:hover {
    transform: scale(1.03);
}
